{
  "presets": [
      [
        "@babel/preset-flow",
      {
        "isTSX": true,
        "allExtensions": true
      }
    ],
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ]
}